# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

Release/
HappyRewritten/Release/
HappyRewritten/IniReader.cpp
HappyRewritten/IniReader.h
HappyRewritten/IniReader.cpp.old
HappyRewritten/IniReader.h.old
HappyRewritten/RSJparser.h
HappyRewritten/Memory.cpp
HappyRewritten/Memory.h
HappyRewritten/offsets.ini
.vs/
HappyRewritten/HappyRewritten.vcxproj
HappyRewritten/HappyRewritten.vcxproj.filters
HappyRewritten/HappyRewritten.vcxproj.user
HappyRewritten.sdf
HappyRewritten.sln
HappyRewritten.v12.suo
/HappyRewritten/test.ini
