#pragma once
#include "resource.h"

MAINICON ICON ".\\icon.ico"
IDR_SOUND_START1		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start1.wav"
IDR_SOUND_START2		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start2.wav"
IDR_SOUND_START3		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start3.wav"
IDR_SOUND_START4		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start4.wav"
IDR_SOUND_START5		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start5.wav"
IDR_SOUND_START6		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start6.wav"
IDR_SOUND_START7		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start7.wav"
IDR_SOUND_START8		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start8.wav"
IDR_SOUND_START9		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start9.wav"
IDR_SOUND_START10		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start10.wav"
IDR_SOUND_START11		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start11.wav"
IDR_SOUND_START12		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start12.wav"
IDR_SOUND_START13		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start13.wav"
IDR_SOUND_START14		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start14.wav"
IDR_SOUND_START15		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start15.wav"
IDR_SOUND_START16		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start16.wav"
IDR_SOUND_START17		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start17.wav"
IDR_SOUND_START18		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\start18.wav"
IDR_SOUND_ON			WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\on.wav"
IDR_SOUND_OFF			WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\off.wav"
IDR_SOUND_HEADSHOT1		WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\Minecraft Bow Critical.wav"
IDR_SOUND_HITMARKER1	WAVE			"C:\\Users\\Jeremy\\Documents\\Visual Studio 2017\\Resource Files\\sound\\Minecraft Hurt.wav"

